@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
  --first-color: #BF0436;
    --second-color: #314259;
    --third-color: #248db5;
}
/* Scroll bar*/


body {
  --sb-track-color: #fafafa;
  --sb-thumb-color: #bf0436;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
  }
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  font-family: 'Kufam', sans-serif;
}

/* NORMAL STYLES */
.header {
  position: sticky;
  width: 100%;
  
}
.top-bar{
  background-color: #d4053c;
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 62px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  color: #fff;
}
.svg_icon{
  font-size: 10px;
}
.content_top_bar{
  font-weight: 500;
  font-family: 'Reem Kufi', sans-serif;
}

.top-bar__content .icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}



.bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  padding: 15px 30px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__img {
  height: 55px;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav {
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}



.nav__link {
  color: rgb(135, 134, 134);
  font-weight: bold;
  /* font-family: 'Reem Kufi', sans-serif; */
  font-family: 'Kufam', sans-serif;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s;
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--first-color);
}

.nav__item .btn {
 background-color: var(--first-color) !important;
 color: #fff;
 font-weight: bold;
 font-family: 'Kufam', sans-serif;
 text-decoration: none;
 font-size: 14px;
 transition: all 0.2s;
 display: inline !important;
 padding: 0.37rem 2rem;
}

.btn:hover {
  background-color: #d7023b !important ;
  color: #fff !important;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #000;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px 0 25px;
    display: block !important;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: #fff;
    padding-bottom: 30px;
  }

  .nav__link {
    font-size: 14px;
  }

  .btn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
    
  }

  .nav__list {
  
    column-gap: 5px !important;
}
  
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}

/* services cards */

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #FFC0EB;
}

.center-text p {
  margin-bottom: 30px;
}

.pricing-item {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.pricing-item.active .pricing-header {
  position: relative;
}

.pricing-item.active .pricing-header .pricing-title {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper {
  background-image: linear-gradient(135deg, #d9033c 0%, #ff4476 100%);
}

.pricing-item.active .pricing-body .price-wrapper .currency {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .price {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .period {
  color: #fff;
}

.pricing-item .pricing-header {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  width: 180px;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
  top: -20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #d9033c 0%, #ff4476 100%);
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  background: #f6f6f6;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 600;
  font-size: 20px;
  color: #e64b3d;
  position: relative;
  top: -15px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 700;
  font-size: 34px;
  color: #e64b3d;
  letter-spacing: 2.12px;
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 700;
  font-size: 14px;
  color: #e64b3d;
  letter-spacing: 0.88px;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #CCDCEA;
  letter-spacing: 0.88px;
  text-decoration: line-through;
}

.pricing-item .pricing-body .list li.active {
  color: #3B566E;
  text-decoration: none;
}

.pricing-item .pricing-footer {
  text-align: center;
}

.btn-primary-line {
    width: 160px;
    margin: auto;
    display: inline-block;
    height: 44px;
    line-height: 45px;
    text-align: center;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none !important;
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
}
.pricing-item .pricing-footer .btn-primary-line {
  border: 1px solid #e64b3d;
  color: #e64b3d;
  height: 36px;
  line-height: 36px;
}

.pricing-item .pricing-footer .btn-primary-line:hover {
  background: #e64b3d;
  color: #fff;
}




